{
  "notion_token": "ntn_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "notion_databases": {
    "variant": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "instance": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "storage_container": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "storage_page": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "storage_slot": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX",
    "location": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
  },
  "notion_parent_page": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
}
